*{
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*:focus,:active{
	outline: none;
}
html{
	height: 100%;
	min-height: 100%;
}
body{
	height: 100%;
	background-color: #f9f9f9;
}
body.overflow{
	overflow: hidden;
}
body, h1, h2, h3, h4, h5, p, ul{
	margin: 0;
	padding: 0;
	font-family: 'Lato';
}
h1{
	font-size: 36px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 24px;
}
h5{
	font-size: 20px;
}
p, ul, input, button, span, select, textarea, option{
	font-size: 16px
}
a{
	text-decoration: none;
	color: #3C79FD;
	font-size: 16px;
	transition: opacity .3s ease;
}
a:hover{
	opacity: .7;
}
button {
	padding: 10px 20px;
	background-color: rgb(64, 68, 110);
	color: #fff;
	font-size: 16px;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: background-color .3s ease, color .3s ease, border .3s ease;
	cursor: pointer;
}
label{
	font-size: 16px;
}
button:hover{
	color: rgb(64, 68, 110);
	background-color: #fff;
	border: 1px solid rgb(64, 68, 110);
}
input, select, option, textarea{
	height: 40px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #ebebeb;
	transition: color .3s ease, border .3s ease;
}

.modal-details .modal-detail  input[type="radio"]{
	height: 15px;
	width: 15px;
}
textarea{
	height: 300px;
	padding: 10px;
	resize: none;
}
#damaged-descr{
	margin-top: 10px;
}
.hidden{
	display: none;
}
.error{
	border:1px solid #FF4242;
}
.content-wrap-middle{
	position: relative;
	text-align: center;
}
.content-wrap-middle:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.content-middle{
	display: inline-block;
	vertical-align: middle;
}
.col-wrap{
	font-size: 0;
}
.col-top{
	display: inline-block;
	vertical-align: top;
}
.col-mid{
	display: inline-block;
	vertical-align: middle;
}
.col-bot{
	display: inline-block;
	vertical-align: bottom;
}
.col-2{
	position:  relative;
	width: 50%;
}
.col-error{
	padding-left: 20px;
}
/* Modal Style*/
.modal-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 20px;
	background-color: rgba(0,0,0,.7);
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease, visibility .3s ease;
}
.modal-wrap.active{
	opacity: 1;
	visibility: visible;
}
.modal-wrap.active .modal-content{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
}
.logo-brand{
	position: absolute;
	top: 30px; 
	right: 30px;
	width: 80px;
	height: 80px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
.select-color{
	width: calc(100% - 60px);
}
.select-color option{
	position: relative;
	padding-left: 30px;
}
span#color-selected{
	position: absolute;
	right: 5px;
	bottom: 0;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.modal-content{
	position: relative;
	max-width: 840px;
	width: 100%;
	padding: 20px;
	background-color: #E6E8F0;
	border-radius: 5px;
	transform: scale(.9);
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	transition: transform .3s ease .1s;
}
.modal-content h3{
	text-align: left;
	margin-bottom: 40px;
}
.modal-details{
	text-align: left;
}
.modal-details .modal-detail{
	margin-bottom: 20px;
}
.modal-detail-title{
	margin-bottom: 10px;
}
.modal-details .modal-detail input,select,textarea{
	width: 100%;
}
.buttons-wrap{
	text-align: right;
}
.close-details{
	background-color: #757575;
}
.close-details:hover{
	border-color: #757575;
	color: #757575;
}
@media all and (max-width: 640px){
	.modal-content header{
		text-align: left;
	}
	.col-2{
		width: 100%;
	}
	.col-error{
		padding-left: 0;
	}
}